{{#each listaproductos}}
<article class="container">
    <div class="card">
        <div class="imgBx">
            <img src="{{thumbnail}}" />
        </div>
        <div class="contentBx">
            <h2>{{title}}</h2>
            <div class="size">
                <h3>{{description}}</h3>
                <span>SM</span>
                <span>MD</span>
                <span>LG</span>
            </div>
            <a href="#">Comprar</a>
        </div>
    </div>

</article>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>